# AIM configuration file

[server]
port = {{ abiquo_kvm_aim_port }}

[rimp]
repository = {{ abiquo_kvm_local_repository_path }}
datastore = /var/lib/virt
autoBackup = false
autoRestore = false
datastoreValidTypes = ext2,ext3,ext4,nfs,nfs4,xfs,smbf,gfs

[vlan]
ifconfigCmd = /sbin/ifconfig
brctlCmd = /usr/sbin/brctl