<VirtualHost *:80>
    RewriteEngine On
    ProxyRequests Off
    ProxyPreserveHost On
 
    <Directory "/var/www/html/ui">
        Options MultiViews FollowSymLinks
        AllowOverride None
        Order allow,deny
        Allow from all
    </Directory>
    RewriteRule ^/$ /ui/ [R]
 
 
    <Location /api>
        ProxyPass ajp://{% abiquo_api_address %}:8010/api/ timeout={% api_timeout %}
        ProxyPassReverse ajp://{% abiquo_api_address %}:8010/api/
    </Location>
 
    <Location /legal/>
        ProxyPass ajp://{% abiquo_api_address %}:8010/legal/
        ProxyPassReverse ajp://{% abiquo_api_address %}:8010/legal/
    </Location>
 
    <Location /legal/>
        ProxyPass ajp://localhost:8010/legal/
        ProxyPassReverse ajp://localhost:8010/legal/
    </Location>
 
</VirtualHost>